<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<!-- bootstrap4 css -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<!-- bootstrap4 js -->
<link rel="stylesheet" href="js/bootstrap.min.js" />
<!-- jquery -->
<script src="js/jquery.min.js"></script>
<!-- ajax -->
<header>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Data board</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Statistics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="false"
        >Disabled</a
      >
    </li>
  </ul>
</header>
