<scirpt> </scirpt>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-3" style="text-align: center">
      One of three columns
    </div>
    <div class="col-lg-6 col-md-3">
      One of three columns
    </div>
    <div class="col-lg-6 col-md-3">
      One of three columns
    </div>
  </div>
</div>
