<html>
<head>
<title>
  layout building... 
</title>
<link rel="stylesheet" href="css/styles.css"/> 
</head>
<body>
<div class="wrap">
  <div class="app">
      <div class="header">
          <div class="flex-container">
            <input type="text" class="header-input flex-item" placeholder="search"></input>
            <div class="flex-item">social box</div>
            <div class="flex-item">alert box</div>
            <div class="flex-item">user box</div>
          </div>
      </div>
      <div class="sidebar">
          some sidebar
      </div>
      <div class="articles">some articles </div>
  </div>
</div>
</body>

</html>